@using Task.Models
@model IEnumerable<NwcSubscriptionFile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                رقم الاشتراك
            </th>
            <th>
                هل يوجد صرف
            </th>
            <th>
                اخر قرأة للعداد
            </th>
            <th>
                عدد الوحدات
            </th>
            <th>
                نوع العقار
            </th>
            <th>
                رقم المشترك
            </th>
            <th>
                اسم المشترك
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileUnitNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileIsThereSanitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileLastReadingMeter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileReasons)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NwcSubscriptionFileUnitNo)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileRrealEstateTypesCodeNavigation.NwcRrealEstateTypesCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileSubscriberCodeNavigation.NwcSubscriberFileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileSubscriberCodeNavigation.NwcSubscriberFileName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NwcSubscriptionFileNo">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.NwcSubscriptionFileNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
