@using Task.Models
@model IEnumerable<NwcSubscriptionFile>

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-top:10px;"></h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">
                ID
            </th>
            
            <th scope="col">
                هل يوجد صرف
            </th>
            <th scope="col">
                اخر قرأة للعداد
            </th>
            <th scope="col">
                عدد الوحدات
            </th>
            <th scope="col">
                اسم نوع العقار 
            </th>
            <th scope="col">
                رقم المشترك
            </th>
            <th scope="col">
                اسم المشترك
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileNo)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileIsThereSanitation)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileLastReadingMeter)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileUnitNo)
            </td>
            
            <td scope="row">
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileRrealEstateTypesCodeNavigation.NwcRrealEstateTypesName)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileSubscriberCodeNavigation.NwcSubscriberFileId)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.NwcSubscriptionFileSubscriberCodeNavigation.NwcSubscriberFileName)
            </td>
                <td scope="row">
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.NwcSubscriptionFileNo">Edit</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.NwcSubscriptionFileNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
